<h3>Recent Activity feed</h3>
        <hr/>
        {% for activity in room_messages %}
        <div>
            <p>{{ activity.message }}</p>
            <small>@{{activity.user.username}} -- {{activity.created|timesince}}</small>
            <small>replied to "{{ activity.room }}"</small>
            <p>{{ activity }}</p>
            {% if request.user == activity.user %}
            <a href="{% url 'delete-comment' activity.id %}">Delete</a>
            {% endif %}
        <hr/>
        </div>
        {% endfor %}