{% extends 'main.html' %}
{% load crispy_forms_filters %}
{% block content %}
    {% if page == 'login' %}
    <section>
    <form method="POST" action="">
        {% csrf_token %}

        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Enter UserName..." id="username">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Enter Password..." id="password">
        <input type="submit" value="Login">
    </form>
        <p>Haven't signed up yet?</p>
        <a href="{% url 'register' %}">Register</a>
    </section>
    {% else %}
    <section>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Register">
    </form>
        <p>Already signed up yet?</p>
        <a href="{% url 'loginPage' %}">Login</a>
    </section>
    {% endif %}
{% endblock %}
